body
{
	margin: 0;
	padding: 0;
	background: #DFECE5;
	max-width: 100%;
	min-width:20%;
}
.header{
<<<<<<< HEAD
		position: relatively;
    background-color: black;
    width:screen-width;
    padding: 15px;
    opacity: 1;
=======
	position: relatively;
    	top: 10px;
    	left: 10px;
    	background-color: black;
/*     	width: screen-width; */
    	padding: 2px;
    	opacity: 1;
>>>>>>> 9e36ac339baa3be5ac34d43572b2b65e5b376ab4
}

#title {
	width: 40%;
	padding:10px;
	margin-top: unset;
	margin-left: -80px;
	margin-bottom: -10px;
	text-align: left;
	color: #5CFE0B;
	background-size: 40px;
	text-indent: 80px;
	line-height: 0.5;
	font-style: bold;
	font-kerning: initial;
	font-weight: 80%;
	font-family: fantasy;
}

#slogan{
	float: left;
	width: screen-width;
	font-family: fantasy;
	padding: 6px;
	/*text-decoration-style: double;*/
	font-style: italic;
	background-color: green;
	color: white;
	font-size: 12px;
  text-indent: 5px;
	margin-top:5px;
	margin-left: -15px;
}
#signUp {
    background-color: #DFECE5; /* Green */
    border: none;
    color: black;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    font-family: fantasy;
}
#signIn {
    background-color: #DFECE5; /* Green */
    border: none;
    color: black;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    font-family: fantasy;
}
#input{
		float:right;
		position: relative;
		width: 30%;
    left: -34.7%; /* or right 50% */
    text-align: left;
    padding: 10px;
 	margin-top: -25px;
 	border: none;
 	font-size: 12px;
 	font-family: fantasy;
 	height: 10px;

}
.button{
	float:right;
	display: inline-block;
	position: absolute;
	width: 8px;
  padding: 4px;
 	margin-top: -20px;
 	border: white;

}
#search{
	display: inline-block;
	position: absolute;
	width: 90px;
    right:29%; /* or right 50% */
    margin-top: -19px;
}
#canc{

	display: inline-block;
	position: absolute;
	width: 90px;
    left:28%; /* or right 50% */
    margin-top: -19px;

}
.blink p{
	float: right;
	width: 30%;
	text-align: right;
    margin-top:-45px;
    padding:5px;
    font-size: 70%;
    color: #17FBCD;
}

.blink{
	font:fantasy;
	font-size: 140%;

}
 .blink {
            animation: blinker 3s linear infinite;
        }

       @keyframes blinker {
            80% { opacity: 0; }
       }

.stat {
 height: 20px;
 overflow: hidden;
 position: relative;
 background-color: black;
 opacity: 0.6;
}
.stat p {
	font-family: fantasy;
 font-style: oblique;
 font-size: 100%;
 color: white;
 position: absolute;
 width: 120%;
 height: 30%;
 line-height: 20px;
 margin-top: 0px;
 text-emphasis: 10px;
 /*margin-top: -10px;*/
 /*text-align: left;*/

  /*Starting position */
  -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}
